html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Sans-Serif;
  line-height: 18px;
}

h1 {
  font-size: 36px;
  line-height: 54px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  line-height: 36px;
}

p {
  margin-bottom: 18px;
}

a, a:visited, a:hover, a:active {
  color: #2F9296;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
}
