<p>Welcome, <%=@user.username%>!</p>

<h1>My Expenses</h1>

<ul>
<% @expenses.each do |expense| %>
  <% if expense.user_id == @user.id %>
  <li><b><%= expense.vendor %></b> from <%= expense.date %> for $<%= expense.total%></li>
  <% end %> 
<% end %>
</ul>
