<div class="container">
    <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Expense Tracker</h2>

    <div class="content">
      <p>Welcome to the Sinatra Expense Tracker!</p>

      <p>If you're a new user, please sign up to start using the app.</p>
      <p>If you're a returning user, please log in to view your data.</p>

      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>



  </div>
</div>
