<div>
    <div>
    <h2>Sinatra Expense Tracker</h2>

    <div>
      <h4>Welcome to the Sinatra Expense Tracker!</h4>

      <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start using the app.</p>
      <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your data.</p>

    </div>



  </div>
</div>
