<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>SinatraExpenseTracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div>

        <%= yield %>

      <footer>
        <small>&copy; 2018 <strong>SinatraExpenseTracker</strong></small> /
        <% if logged_in? %>
          <small><strong><a href="/logout">Log Out</a></strong></small>
        <% else %>
          <small><strong><a href="/login">Log In</a></strong></small> /
          <small><strong><a href="/login">Sign Up</a></strong></small>
        <% end %>
      </footer>
    </div>

  </body>
</html>
